body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./esc.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin-top: 0;
    margin-bottom: 2vh;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 7vh;
}

/* –––––––––––––––– Form –––––––––––––––– */
.all {
    width: 75vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(135, 178, 235);
    border-radius: 5px;
}

form {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

form input{
    width: 20%;
    height: 5vh;
    margin-bottom: 5px;
    border: 0px solid rgba(255, 0, 0, 0);
    border-radius: 5px;
}

/* –––––––––––––––– Filter –––––––––––––––– */

.filter {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.filtercountry, .filterartist {
    width: 40%;
}

#reset {
    width: 20%;
    height: 5vh;
    margin-top: 5px;
}

.filter input{
    width: 80%;
    height: 5vh;
    margin-top: 5px;
    border: 0px solid rgba(255, 0, 0, 0);
    border-radius: 5px;
}

/* –––––––––––––––– Buttons –––––––––––––––– */
form button, .filter button {
    height: 5vh;
    margin-bottom: 5px;
    background-color: rgb(235, 235, 235);
    border: 0px solid rgba(255, 0, 0, 0);
    border-radius: 5px;
}

.winneritem button {
    height: 5vh;
    background-color: rgb(235, 235, 235);
    border: 0px solid rgba(255, 0, 0, 0);
    border-radius: 5px;
}

button:hover {
    background-color: lightgray;
}


/* –––––––––––––––– Result / Database –––––––––––––––– */

.render {
    width: 90%;
    height: 65%;
    margin-top: 2vh;
    overflow: auto;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    font-family: helvetica;
}

.description {
    margin-bottom: 10px;
    padding: 2vh;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    background-color: lightgray;    
    font-weight: bold;
    text-align: center;
}

.winneritem {
    margin-left: 2vh;
    margin-right: 2vh;
    padding: 2vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    border-bottom: 1px solid black;
}

.winneritem:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.winneritem div {
    display: flex;
    justify-content: center;
    align-items: center;
}

